@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.page {

    &__content {
        max-width: 1200px;
        margin: 40px auto 90px;
        min-height: calc(100vh - 261px);

        @media (max-width: 800px) {
            margin: 40px auto 0px;
        }
    }

    &__col {
        margin: 20px auto 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: stretch;
    }

    &__row {
        width: 100%;

        &--50 {
            width: 50%;
            padding-right: 20px;

            @media (max-width: 800px) {
                width: 100%;
                padding-right: 0px;
                margin-bottom: 20px;
            }
        }
    }
}
