﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Seafight</title>
</head>
<body>
    <div class="page">
        <header class="page__header page-header">
            <div class="page-header__logo">
                <h1 class="page-header__title"><%= htmlWebpackPlugin.options.title %> Seafight</h1>
            </div>
        </header>
        <main class="page__content">
            <div class="page__col">
                <div class="page__row">
                    <div class="seafight">
                        <div class="seafight__title"></div>
                        <div class="seafight__field seafight__field--users"></div>
                        <div class="seafight__field seafight__field--pc"></div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer">
            <div class="footer__copyright copyright">
                <p class="copyright__text">
                    © 2018 <a class="copyright__link" href="https://bitbucket.org/haanastasia/seafight/" target="_blank">Anastasia Dolgopolova</a>
                </p>
            </div>
        </footer>
    </div>
</body>
</html>		