.page-header {
    padding: 15px 0px;
    border-bottom: 1px solid #d5dddf;
    background: #fff;
    width: 100%;

    &__logo {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        max-width: 1200px;
        margin: 0 auto;

        @media (max-width: 750px) {
            display: block;
            text-align: center;
        }
    }

    &__title {
        margin-right: 40px;
    }

    &__subtitle {
        font-weight: 100;
    }
}
